<main class='bg-gradient w-full h-full flex justify-center items-center'>
  <div class='w-[25rem]'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "mt-8 space-y-6" }) do |f| %>
      <div class="-space-y-px rounded-md shadow-sm flex flex-col gap-4">
          <%= f.email_field :email, autofocus: true, class: "w-full p-[0.8rem] rounded-xl bg-[#640F46] text-white placeholder-white placeholder-opacity-50", placeholder: "Email" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "w-full p-[0.8rem] rounded-xl bg-[#640F46] text-white placeholder-white placeholder-opacity-50", placeholder: "Senha" %>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <label class="control control-checkbox">
            <%= f.check_box :remember_me, class: 'h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600' %>
            <div class="control_indicator"></div>
            <%= f.label :remember_me, class: 'block text-sm text-white' %>
          </label>
        </div>

        <div class="text-sm">
          <%= link_to "Esqueceu sua senha?", new_user_password_path, class: "text-white font-semibold nimate-duration-500	border-b border-transparent hover:border-white" %>
        </div>
      </div>

      <div class="flex justify-between">
        <%= render 'shared/components/button', color: '#DA1B6E', styles: 'w-[48%]' do %>
            ENTRAR
        <% end %>

        <%= render 'shared/components/button', color: '#DA1B6E', styles: 'w-[48%]' do %>
            CRIE SUA CONTA
        <% end %>
      </div>
    <% end %>
  </div>
</main>