<div class="grid grid-cols-3 gap-4">
  <% @products.each do |product| %>
    <div class='h-80 p-2 flex flex-col items-center cards-box relative'>
      <img src="<%= product.image_url %>" alt="Product Image" class='w-[8.125rem]'>
      <strong class="text-lg text-[#ff4398] font-bold mt-2"><%= product.name %></strong>
      <p class="text-sm text-[#777777] font-bold mt-2 ">Rentabilidade: <%= (product.additional_fee + product.fee.value * 365).round(2) %>% a.a</p>
      <%= render 'shared/components/button', styles: 'bg-[#DA1B6E] w-[90%] mt-[2.5rem] cursor-pointer' do %>
        <%= link_to 'INVESTIR', new_investment_path(params: { p: 'id', s: product.id }) %>
      <% end %>
        <% if product.premium? %>
         <img src="https://i.ibb.co/Wpr4kDx/selo.png" alt="Product Image" class='top-[-10px] right-[-15px] w-[2.5rem] absolute'>
        <% end %>
    </div>
  <% end %>
</div>